@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html[data-theme="theme1"] {
    --color-main-background: hsl(222, 26%, 31%);
    --color-toggle-background: hsl(223, 31%, 20%);
    --color-keypad-background: hsl(223, 31%, 20%);
    --color-screen-background: hsl(224, 36%, 15%);
    --color-key-background: hsl(225, 21%, 49%);
    --color-key-shadow: hsl(224, 28%, 35%);
    --color-toggle: hsl(6, 63%, 50%);
    --color-toggle-shadow: hsl(6, 70%, 34%);
    --color-key-light: hsl(30, 25%, 89%);
    --color-key-light-shadow: hsl(28, 16%, 65%);
    --color-text: hsl(221, 14%, 31%);
    --color-text-white: hsl(0, 0%, 100%);
  }

  html[data-theme="theme2"] {
    --color-main-background: hsl(0, 0%, 90%);
    --color-toggle-background: hsl(0, 5%, 81%);
    --color-keypad-background: hsl(0, 5%, 81%);
    --color-screen-background: hsl(0, 0%, 93%);
    --color-key-background: hsl(185, 42%, 37%);
    --color-key-shadow: hsl(185, 58%, 25%);
    --color-toggle: hsl(25, 98%, 40%);
    --color-toggle-shadow: hsl(25, 99%, 27%);
    --color-key-light: hsl(45, 7%, 89%);
    --color-key-light-shadow: hsl(35, 11%, 61%);
    --color-text: hsl(60, 10%, 19%);
    --color-text-white: hsl(0, 0%, 100%);
  }

  html[data-theme="theme3"] {
    --color-main-background: hsl(268, 75%, 9%);
    --color-toggle-background: hsl(268, 71%, 12%);
    --color-keypad-background: hsl(268, 71%, 12%);
    --color-screen-background: hsl(268, 71%, 12%);
    --color-key-background: hsl(281, 89%, 26%);
    --color-key-shadow: hsl(285, 91%, 52%);
    --color-toggle: hsl(176, 100%, 44%);
    --color-toggle-shadow: hsl(177, 92%, 70%);
    --color-key-light: hsl(268, 47%, 21%);
    --color-key-light-shadow: hsl(290, 70%, 36%);
    --color-text: hsl(198, 20%, 13%);
    --color-text-white: hsl(0, 0%, 100%);
    --color-text-yellow: hsl(52, 100%, 62%);
  }

  .transition1::before {
    transform: translateX(32px);
  }

  .transition2::before {
    transform: translateX(60px);
  }

  .transition3::before {
    transform: none;
  }
}
